*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 40px;
    color: #6A6F8C;
    background: #C8C8C8;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#global{
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 570px;
    position: relative;
    background: url('article_02082_.jpg') no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

#contenedor{
    width: 90%;
    height: 90%;
    padding: 27px;
    position: absolute;    
    background: rgba(40, 57, 101, .9);
}

#contenedor .titulo{
    letter-spacing: 2px;
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 10px;    
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: #ffffff;
    border-color: #1161EE;
    margin-top: 45px;
    margin-bottom: 20px;
}

.form-insertar{
    min-height: 245px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.form-insertar .grupo{
    margin-bottom: 15px;
    margin-left: 10px;
}

.form-insertar .grupo input{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .3);    
    display: block;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-insertar .grupo label{
    color: #aaa;
    font-size: 12pt;    
    margin-bottom: 20px;
    margin-left: 10px;
    color: #ffffff;
    letter-spacing: .5px;
}

.form-insertar .grupo #enviar{
    background: #1161EE;
    margin-top: 50px;
    margin-left: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.message{
    z-index: 4px;
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    text-align: center;   
}

.message:hover{
    color: #1161EE !important;
    background: #ffffff !important;

}